$primary_default: #B7EC5D;
$primary_dark: #648D1E;
$primary_frame: #B7EC5D4D;
$primary_linear: linear-gradient(270deg, rgba(183, 236, 93, 0) -6.5%, rgba(183, 236, 93, 0.1) 85.58%, rgba(183, 236, 93, 0.3) 100%);
$secondary_default: #4D4D4D;
$secondary_dark: #222222;
$secondary_tint: #F5F5F5;
$success_default: #B7EC5D;
$success_dark: #648D1E;
$success_tint: #D9FF99;
$danger_default: #F93819;
$danger_dark: #A01600;
$danger_tint: #FFA394;
$pen_black: #000000;
$pen_blue: #0066FF;
$pen_red: #F93819;
$black: #000000;
$gray_90: #1A1A1A;
$gray_80: #333333;
$gray_70: #4D4D4D;
$gray_60: #666666;
$gray_50: #808080;
$gray_40: #999999;
$gray_30: #B3B3B3;
$gray_20: #CCCCCC;
$gray_10: #E6E6E6;
$white: #FFFFFF;
$transparent: transparent;