*,
*::after,
*::before {
box-sizing: border-box;
}
body {
  font-family: 'Gen Jyuu Gothic P', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
button {
  font-family: 'Noto Sans TC', sans-serif;
  background: none;
  border: none; 
  cursor: pointer;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
